* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

.upperStructure {
    display: flex;
}


header {
    display: flex;
    flex-direction: column;
    border-right: 6px solid rgb(40, 40, 40);
    background-color: rgb(22, 22, 22);
    color: white;
    min-height: 95vh;
    max-width: 40vw;
}

.headerName {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    text-decoration: none;
    color: white;
    margin: 0.5rem 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: rgb(40, 40, 40);
    min-height: 2rem;
}

#campoPesquisa {
    padding: 0.4rem;
    border-radius: 1rem;
    border: 1px solid lightgray;
}

#botaoPesquisa {
    border-style: none;
    background-color: rgb(60, 60, 60);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

#botaoPesquisa:hover {
    background-color: lightgray;
}

.pathCategories {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: start;
    row-gap: 1rem;
    column-gap: 3px;
    padding: 1.5rem 0;
}

.pathCategories>img {
    justify-self: end;
}

.pathCategories>a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.navItens {
    cursor: pointer;
}

.navItens:hover {
    color: gray;
}


main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: rgb(7, 7, 7);
    min-width: 25rem;
    width: 100vw
}

.displayVideo {
    display: flex;
    justify-content: center;
    position: relative;
    border-top: 1px solid black;
    background-color: black;
}

#backgroundVideo {
    max-height: 65vh;
    max-width: 100%;
}

#newVideo {
    text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5), 1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

.videoContent {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
}

.videoContent>h1>a {
    color: white;
}

.tituloDisplay {
    color: white;
    text-align: center;
    padding: 1rem;
}

.news {
    border-radius: 1rem;
    border: 6px solid rgb(40, 40, 40);
    padding: 10px;
}

.news-tweet {
    padding-top: 0px;
    padding-bottom: 0px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.gridJogo {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 8vh 20vh 0.5fr 1fr;
    max-width: 50vw;
    margin: 0 2rem;
    padding: 1rem;
    gap: 1rem;
    background-color: rgb(22, 22, 22);
    border: 6px solid rgb(40, 40, 40);
    border-radius: 5rem;
    color: lightgray;
}

.logoJogo {
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 5rem;
    width: 100%;
    max-width: 300px;
    justify-self: center;
    align-self: end;
    border: 6px solid rgb(40, 40, 40);
}

.tituloJogo {
    color: white;
    text-decoration: none;
    font-size: xx-large;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}
.tituloJogo:Hover {
    color: lightgray;
}

.infoJogo {
    grid-column: 2;
    grid-row: 2/5;
    margin-bottom: 30px;
    /* background-color: red; */
    font-size: large;
}

ul {
    list-style-type: none;
}

li>b {
    color: white;
}

.trailerJogo {
    grid-column: 1;
    grid-row: 4;
    border-radius: 2.5rem;
    justify-self: center;
    align-self: start;
    max-width: 300px;
    border: 6px solid rgb(40, 40, 40);
}

footer {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    column-gap: 10px;
    background-color: black;
    color: white;

    height: 5vh;
    min-height: 5vh;
    width: 100%;
}

.socialLogo {
    height: 30px;
}

@media screen and (max-device-width: 800px) {}